In [1]:
import pandas as pd
import datetime as dt

from sqlalchemy import create_engine

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

import os
# Set up directories
input_dir = 'input_data'
landing_dir = 'landing_data'
cleaned_dir = 'cleaned_data'

PSQL_USER='toddh'
PSQL_PWD='heritage'

In [2]:
# read cleaned pollution file.
POLLUTION_FILE = os.path.join( cleaned_dir, 'cleaned_pollution.csv')

pollution_df = pd.read_csv(POLLUTION_FILE)
pollution_df.head()

   Unnamed: 0  year state O3_units_measurement    O3_min    O3_max   O3_mean
0           0  2013    AL    Parts per million  0.000000  0.026333  0.012099
1           1  2013    AR    Parts per million  0.003292  0.049000  0.025577
2           2  2013    AZ    Parts per million  0.002000  0.059750  0.027973
3           3  2013    CA    Parts per million  0.000000  0.071167  0.026075
4           4  2013    CO    Parts per million  0.000083  0.057100  0.028709

In [3]:
# read cleaned asthma file.
ASTHMA_FILE = os.path.join( cleaned_dir, 'cleaned_asthma.csv')

asthma_df = pd.read_csv(ASTHMA_FILE)
asthma_df.head()

   asthma_sample_size  asthma_prev_prcnt  std_err 95_prcnt_CI_prcnt  year
0              4564.0               14.8     0.83     (13.2 – 16.4)  2013
1              4375.0               12.4     0.70     (11.1 – 13.8)  2014
2              3642.0               13.4     1.02     (11.4 – 15.4)  2015
3              2906.0               14.2     1.08       (12.1–16.4)  2016
4              6484.0               13.6     0.61     (12.4 – 14.8)  2013

In [4]:
# Connect to the database

rds_connection_string = f'{PSQL_USER}:{PSQL_PWD}@localhost:5432/pollution'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
# load database pollution - this program *replaces* data, eg, drops then inserts
pollution_df.to_sql(name='cleaned_pollution', con=engine, if_exists='replace', index=False)

In [8]:
# load database asthma - this program *replaces* data, eg, drops then inserts
asthma_df.to_sql(name='cleaned_asthma', con=engine, if_exists='replace', index=False)